*{
    margin: 0;
    padding: 0;
}

.tophead{
    top:0;
    width: 100%;
    height: 10%;
    background-color: rgb(222, 244, 244);
    display: flex;
    justify-content: space-between; /* Aligns images at the two corners */
    align-items: center; /* Vertically centers the images */
}

.sechead{
    top:0;
    width: 100%;
    height: 2rem;
    background-color: rgb(95,188,69);
    display: flex;

  
}
.sechead p {
    color: white;
    margin-top: 4px;
}
.thead{
    align-items: center;
    justify-content: center;
    display: flex;
   

}
.thirdhead{
    margin-top: 10px;
    width: 98%;
    height: 2rem;
    background-color: rgb(95,188,69);
    display: flex;


  
}

.thirdhead p {
    color: white;
    margin-top: 4px;
}

.details{
    border: 1px solid rgb(229, 223, 223);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 98%;
    height: 50%;

}
.details1{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 50%;
}

.textbox {
    flex: 0 0 calc(33.33% - 10px); 
    padding-left: 10px;
    padding-bottom: 10px;
}
.h1{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 5px;
}
.h2{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: rgb(8, 0, 0);

}

.input{
    height: 20px;
    width: 400px;
}

.button-row {
    display: flex;
    margin-top: 10px; 
    margin-bottom: 10px;

}

.button {
    padding: 10px 90px; 
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.button:hover {
    background-color: #0056b3; /* Button background color on hover */
}
.button1 {
    padding: 10px 10px; 
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.button1:hover {
    background-color: #0056b3; /* Button background color on hover */
}

.table-container {
    width: 97%;
    overflow-y: auto;
    margin-top: 10px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  .table th{
    background-color: rgb(235, 235, 235);
    font-size: 15px;
  }
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    
  }

  .button1 {
    padding: 5px 10px; 
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}